*{
    font-family: Open Sans;
}

:root {
    --bg1:#22252C;
    --bg2:#313741;
    --green:#00D7BB;
}

body {
    background-color: var(--bg2);
}

nav, ul, ol {
    list-style: none;
}

header {
    height: 100vh;
    background: linear-gradient(90deg, rgba(23, 211, 150, 0.80) 0%, rgba(7, 247, 247, 0.80) 100%), url("/assets/img/header-bg.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    color: white;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

h2:not(.header) {
    width: fit-content;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 0.9px;
    background: linear-gradient(90deg, #17D396 0%, #07F7F7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: auto;
    margin-bottom: 80px;
}

h3 {
    color: var(--green);
    font-size: 27px;
    font-weight: 700;
}

.icon {
    border-radius: 50%;
    border: 1px solid var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--green);
}

/*-----------------menu-top start-----------------*/

.menu-top {
    width: 100%;
    position: fixed;
    font-size: 20px;
    padding: 35px 0px;
    z-index: 9999;
}

.menu-top a, .menu-burger {
    color: white;
}

.menu-socials {
    display: flex;
}

.menu-socials li {
    margin-right: 15px;
}

/*-----------------menu-top end-----------------*/

/*-----------------header start-----------------*/

.header-info {
    position: relative;
    z-index: 1;
}

.header-info h1 {
    font-size: 120px;
    font-weight: 400;
}

.header-info h2 {
    font-size: 84px;
    font-weight: 400;
}

.header-info div {
    font-size: 25px;
    font-weight: 400;
}

/*-----------------header-info end-----------------*/

/*-----------------about start-----------------*/

.profile {
    position: relative;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-avatar {
    position: relative;
    width: fit-content;
    margin-top: 55px;
}

.profile-avatar img {
    position: relative;
    z-index: 1;
}

.profile-avatar::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border: 7px solid var(--green);
    z-index: 0;
    top: -60px;
    left: 60px;
}

.button-download-cv {
    display: inline-flex;
    margin-top: 30px;
    padding: 15px 20px;
    align-items: center;
    gap: 6px;
    background: linear-gradient(90deg, #17D396 0%, #07F7F7 100%);
    box-shadow: 0px 4px 25px 0px rgba(5, 176, 147, 0.80);
    color: white;
    font-size: 14px;
    font-weight: 700;
}

.button-download-cv:hover {
    color: white;
}

.about {
    background-color:var(--bg1);
}

.about h2 {
    margin: unset;
}

/*-----------------about end-----------------*/

/*-----------------education & xp start-----------------*/

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline .text {
    color: white;
}

.timeline-head {
    width: 80px;
    height: 80px;
    font-size: 30px;
}

.timeline-content {
    padding: 70px 0px;
    position: relative;
}

.timeline-content::before{
    content: "";
    background-color: var(--green);
    height: 100%;
    width: 2px;
    position: absolute;
    margin-top: -70px;
    left: calc(50% - 1px);
}

.timeline-block {
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.timeline-block .icon {
    width: 35px;
    height: 35px;
    font-size: 13px;
    background-color: var(--bg2);
    z-index: 2;
}

.timeline-block:last-child {
    margin-bottom: 0px;
}

.left {
    text-align: right;
}

.timeline-footer {
    width: 15px;
    height: 15px;
    background-color: var(--green);
    border-radius: 50%;
}

.work-xp {
    background-color: var(--bg1);
}

/*-----------------education & xp end-----------------*/

/*-----------------skills start-----------------*/
.skills {
    background-color: var(--bg2);
    color: white;
}

.skill-line {
    background-color: black;
    height: 6px;
    display: flex;
}

.skill-xp {
    height: 100%;
    width: 0%;
    background-color: var(--green);
}

.skill-dot {
    background-color: var(--green);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: -2px;
    margin-left: -5px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.skill-dot span {
    position: absolute;
    margin-top: -5px;
}

/*-----------------skills end-----------------*/

